.papam{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: $black;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    .back{
        position: absolute;
        color: white;
        background-color: $black;
        border: 1px white solid;
        font-family: $secondaryfont;
        font-size: 20px;
        top: 10px;
        left: 10px;
        border-radius: 2px;
    }
    .questionsholder{
        margin-top: 45px;
        margin-left: 10px;
        background-color: rgb(252, 252, 252);
        width: 60%;
        min-height: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 2px;
        overflow: auto;
        .qtitle{
            font-family: $primaryfont;
            font-size: 45px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .questionitself{
            width: 80%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            box-shadow: 5px 5px 20px #b5b5b5;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: rgb(255, 255, 255);
            font-family: $secondaryfont;
            .nameholder{
                margin: 15px 0px 5px 10px;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                align-self: flex-start;
            }
            .qholder{
                margin-bottom: 10px;
                width: 50%;
                color: black;
                word-wrap: break-word;
                text-align: center;
            }
            .mnameholder{
                font-size: 20px;
                color: $darkpurple;
            }
            .bqholder{
                margin: 10px;
                width: 40%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .helpbutton{
                    background-color: $lightpurple;
                    border: none;
                    font-size: 20px;
                    border-radius: 3px;
                }
                .removebutton{
                    background-color: red;
                    border:none;
                    font-size: 20px;
                    border-radius: 3px;
                }
            }
        }
    }
    .rightsideholder{
        width: 37%;
        height: 400px;
        margin-top: 45px;
        margin-right: 10px;
        background-color: black;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: $gamerfont;
        .hstopholder{
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            .hsnameholder{
                display: flex;
                flex-direction: column;
                align-items: center;
                .hstitle{
                    color: red;
                    margin-bottom: 3px;
                    margin-top: 5px;
                }
            }
        }
        .hslistholder{
            width: 80%;
            height: 80%;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .highscore{
                color: red;
                font-size: 25px;
                margin-bottom: 10px;
            }
            .highscorelist{
                width: 95%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .hstitles{
                    color: white;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }
                .actualhighscore{
                    color: aqua;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 3%;
                    .hsword{
                        flex: 1;
                    }
                    .hswords{
                        flex: 1;
                        text-align: right;
                    }
                    .hsword1{
                        flex: 1;
                        color: yellow;
                    }
                    .hsword1s{
                        flex: 1;
                        color: yellow;
                        text-align: right;
                    }
                }
            }
        }
    }
}
