//-- Main Color Scheme --//
$black: #292E1E;
$darkpurple: #7F0799;
$mediumpurple: #9649CB;
$lightpurple: #AFBBF2;
$aquablue: #AFBBF2;
$beige: #F2F3D9;
//--Font Families--//
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$primaryfont: 'Vollkorn SC', serif;
$secondaryfont: 'Roboto', sans-serif;
