@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bigboy {
  height: 100%;
  width: 100%; }

.papa {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .papa .hero {
    color: white;
    font-family: "Vollkorn SC", serif;
    font-size: 70px;
    height: 250px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .papa .hero .buttonholder {
      display: flex;
      align-items: center; }
      .papa .hero .buttonholder .nameinput {
        height: 40px;
        font-size: 25px;
        border: none;
        transition: all .5s linear 0s; }
      .papa .hero .buttonholder .nameinputa {
        height: 40px;
        font-size: 25px;
        background-color: red;
        border: none;
        transition: all .5s linear 0s; }
      .papa .hero .buttonholder .leftbutton {
        font-family: "Roboto", sans-serif;
        border: 1px white solid;
        height: 40px;
        width: 100px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        margin: 5px; }
      .papa .hero .buttonholder .leftbutton:hover {
        cursor: pointer; }
      .papa .hero .buttonholder .rightbutton {
        font-family: "Roboto", sans-serif;
        border: 1px white solid;
        height: 40px;
        width: 100px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        margin: 5px; }
      .papa .hero .buttonholder .rightbutton:hover {
        cursor: pointer; }

.papam {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  overflow: auto;
  display: flex;
  justify-content: space-between; }
  .papam .back {
    position: absolute;
    color: white;
    background-color: black;
    border: 1px white solid;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    top: 10px;
    left: 10px;
    border-radius: 2px; }
  .papam .questionsholder {
    margin-top: 45px;
    margin-left: 10px;
    background-color: #fcfcfc;
    width: 60%;
    min-height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    overflow: auto; }
    .papam .questionsholder .qtitle {
      font-family: "Vollkorn SC", serif;
      font-size: 45px;
      margin-bottom: 20px;
      margin-top: 10px; }
    .papam .questionsholder .questionitself {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 20px #b5b5b5;
      border-radius: 5px;
      margin-bottom: 20px;
      background-color: white;
      font-family: "Roboto", sans-serif; }
      .papam .questionsholder .questionitself .nameholder {
        margin: 15px 0px 5px 10px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        align-self: flex-start; }
      .papam .questionsholder .questionitself .qholder {
        margin-bottom: 10px;
        width: 50%;
        color: black;
        word-wrap: break-word;
        text-align: center; }
      .papam .questionsholder .questionitself .mnameholder {
        font-size: 20px;
        color: red; }
      .papam .questionsholder .questionitself .bqholder {
        margin: 10px;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .papam .questionsholder .questionitself .bqholder .helpbutton {
          background-color: #AFBBF2;
          border: none;
          font-size: 20px;
          border-radius: 3px; }
        .papam .questionsholder .questionitself .bqholder .removebutton {
          background-color: red;
          border: none;
          font-size: 20px;
          border-radius: 3px; }
  .papam .rightsideholder {
    width: 37%;
    height: 400px;
    margin-top: 45px;
    margin-right: 10px;
    background-color: #101010;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Press Start 2P", cursive; }
    .papam .rightsideholder .hstopholder {
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%; }
      .papam .rightsideholder .hstopholder .hsnameholder {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .papam .rightsideholder .hstopholder .hsnameholder .hstitle {
          color: red;
          margin-bottom: 3px;
          margin-top: 5px; }
    .papam .rightsideholder .hslistholder {
      width: 80%;
      height: 80%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .papam .rightsideholder .hslistholder .highscore {
        color: red;
        font-size: 25px;
        margin-bottom: 10px; }
      .papam .rightsideholder .hslistholder .highscorelist {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        .papam .rightsideholder .hslistholder .highscorelist .hstitles {
          color: white;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px; }
        .papam .rightsideholder .hslistholder .highscorelist .actualhighscore {
          color: aqua;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3%; }
          .papam .rightsideholder .hslistholder .highscorelist .actualhighscore .hsword {
            flex: 1;
            overflow: hidden; }
          .papam .rightsideholder .hslistholder .highscorelist .actualhighscore .hswords {
            flex: 1;
            text-align: right; }
          .papam .rightsideholder .hslistholder .highscorelist .actualhighscore .hsword1 {
            flex: 1;
            color: yellow;
            overflow: hidden; }
          .papam .rightsideholder .hslistholder .highscorelist .actualhighscore .hsword1s {
            flex: 1;
            color: yellow;
            text-align: right; }

.papasf {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .papasf .back {
    position: absolute;
    color: white;
    background-color: black;
    border: 1px white solid;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    top: 10px;
    left: 10px;
    border-radius: 2px; }
  .papasf .inputsholder {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .papasf .inputsholder .inputtitle {
      color: white;
      font-family: "Vollkorn SC", serif;
      font-size: 40px;
      margin-bottom: 20px; }
    .papasf .inputsholder .theinput {
      font-family: "Roboto", sans-serif;
      font-size: 35px;
      margin-bottom: 20px; }
    .papasf .inputsholder .texttitle {
      color: white;
      font-family: "Vollkorn SC", serif;
      font-size: 35px;
      margin-bottom: 20px; }
    .papasf .inputsholder .thetextarea {
      font-family: "Roboto", sans-serif;
      font-size: 20px; }
    .papasf .inputsholder .thebutton {
      border: 2px white solid;
      color: white;
      font-size: 20px;
      background-color: black;
      font-family: "Vollkorn SC", serif;
      margin-top: 20px; }

.papasw {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .papasw .back {
    position: absolute;
    color: white;
    background-color: black;
    border: 1px white solid;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    top: 10px;
    left: 10px;
    border-radius: 2px; }
